/* reset */
*{
    box-sizing: border-box;

}
/* ------ */

/* ----------------------------GLOBAL--------------------- */

section{
    margin-top: 50px;

}
/*-------------------------------------------------------- */

/* -------Header------ */
header{
    height: 180px;
    background-color:#4EA0FF ;
    background-image: url("../img/pattern.png");

}

#logo-container{
    height: 80px;
    width: 400px;
    padding: 80px 0 0 30px;

                            /* alternativa? */
    /* position: relative;
    bottom: Npx ;
    left: Npx ;
    translate:0  Npx; */
                            /* alternativa? */
}
/* -------------------- */

/* -------Sezione titolo articolo---------- */

a{
    text-decoration: none;
    
}
a:visited{
    color: blue;

}

h1{
    font-size: 4em;
}

.grey-text{
    color: grey;
}

.small-text{
    font-size: .8em;
}

/* ------------------------------------------ */


/* ---------------Sezione img articolo---------------------- */

.article-photo{
    width: 49%;
    height:666px;

}
/* --------------------------------------------------------- */

/* ---------------------sezione contenuto testuale----------------------------- */


