/* reset */
*{
    box-sizing: border-box;

}
/* ------ */

/* ----------------------------GLOBAL--------------------- */

section{
    margin-top: 50px;

}
/*-------------------------------------------------------- */

/* -------Header------ */
header{
    height: 180px;
    background-color:#4EA0FF ;
    background-image: url("../img/pattern.png");

}

#logo-container{
    height: 80px;
    width: 400px;
    padding: 80px 0 0 30px;

                            /* alternativa? */
    /* position: relative;
    bottom: Npx ;
    left: Npx ;
    translate:0  Npx; */
                            /* alternativa? */
}
/* -------------------- */

/* -------Sezione titolo articolo---------- */

a{
    text-decoration: none;
    
}
a:visited{
    color: blue;

}

h1{
    font-size: 4em;
}

.grey-text{
    color: grey;
}

.small-text{
    font-size: .8em;
}

/* ------------------------------------------ */


/* ---------------Sezione img articolo---------------------- */

.article-photo{
    width: 49%;
    height:666px;

}
/* --------------------------------------------------------- */

/* ---------------------sezione contenuto testuale----------------------------- */
.highlighter{
    background-color: yellow;
}

table{
    width: 50%;
    overflow-x: auto;

}

thead{
    background-color: aqua;
    color: white;
}

.tr-background{
    background-color: aquamarine;
}
/* ----------------------------------------------------------------------------- */

/* sezione footer */
.image-box{
    width: 312px;
    height: 208px;
    margin-bottom: 20px;
}

#image-link-1{
    background-image: url("../img/monitor.jpg");
}

#image-link-2{
    background-image: url("../img/graph.jpg");
}

.image-text{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
